{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Obesity Prediction Form</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="form-container">
      <h2>Obesity Prediction Assessment</h2>
      <h3 class="name">Farhan Ramadhan</h3>
      <form action="" method="post">
        {% csrf_token %}

        <label>What is your gender?</label>
        <select name="Gender" required>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>

        <label>What is your age?</label>
        <input type="number" name="Age" step="0.1" required />

        <label>What is your height? (in meters)</label>
        <input type="number" name="Height" step="0.01" required />

        <label>What is your weight? (in kilograms)</label>
        <input type="number" name="Weight" step="0.1" required />

        <label>Has a family member suffered or suffers from overweight?</label>
        <select name="family_history_with_overweight" required>
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>

        <label>Do you eat high caloric food frequently?</label>
        <select name="FAVC" required>
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>

        <label>Do you usually eat vegetables in your meals?</label>
        <select name="FCVC" required>
          <option value="1">Never</option>
          <option value="2">Sometimes</option>
          <option value="3">Always</option>
        </select>

        <label>How many main meals do you have daily?</label>
        <select name="NCP" required>
          <option value="1.0">Between 1 y 2</option>
          <option value="3.0">Three</option>
          <option value="4.0">More than three</option>
        </select>

        <label>Do you eat any food between meals?</label>
        <select name="CAEC" required>
          <option value="no">No</option>
          <option value="Sometimes">Sometimes</option>
          <option value="Frequently">Frequently</option>
          <option value="Always">Always</option>
        </select>

        <label>Do you smoke?</label>
        <select name="SMOKE" required>
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>

        <label>How much water do you drink daily?</label>
        <select name="CH2O" required>
          <option value="1.0">Less than a liter</option>
          <option value="2.0">Between 1 and 2 L</option>
          <option value="3.0">More than 2 L</option>
        </select>

        <label>Do you monitor the calories you eat daily?</label>
        <select name="SCC" required>
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>

        <label>How often do you have physical activity?</label>
        <select name="FAF" required>
          <option value="0.0">I do not have</option>
          <option value="1.0">1 or 2 days</option>
          <option value="3.0">2 or 4 days</option>
          <option value="4.0">4 or 5 days</option>
        </select>

        <label>How much time do you use technological devices?</label>
        <select name="TUE" required>
          <option value="1.0">0-2 hours</option>
          <option value="2.0">3-5 hours</option>
          <option value="3.0">More than 5 hours</option>
        </select>

        <label>How often do you drink alcohol?</label>
        <select name="CALC" required>
          <option value="no">I do not drink</option>
          <option value="Sometimes">Sometimes</option>
          <option value="Frequently">Frequently</option>
          <option value="Always">Always</option>
        </select>

        <label>Which transportation do you usually use?</label>
        <select name="MTRANS" required>
          <option value="Automobile">Automobile</option>
          <option value="Motorbike">Motorbike</option>
          <option value="Bike">Bike</option>
          <option value="Public_Transportation">Public Transportation</option>
          <option value="Walking">Walking</option>
        </select>

        <button type="submit">Predict</button>
      </form>

    
      {% if log_result and rf_result %}
        <div class="result">
            <h3>Prediction Results</h3>
            <p>
                <strong>Logistic Regression:</strong>
                {% if log_result == "Insufficient_Weight" %}
                Underweight
                {% elif log_result == "Normal_Weight" %}
                Normal
                {% elif log_result == "Overweight_Level_I" %}
                Overweight I
                {% elif log_result == "Overweight_Level_II" %}
                Overweight II
                {% elif log_result == "Obesity_Type_I" %}
                Obesity I
                {% elif log_result == "Obesity_Type_II" %}
                Obesity II
                {% elif log_result == "Obesity_Type_III" %}
                Obesity III
                {% else %}
                {{ log_result }}
                {% endif %}
                ({{ log_proba }}%)
            </p>

            <p>
                <strong>Random Forest:</strong>
                {% if rf_result == "Insufficient_Weight" %}
                Underweight
                {% elif rf_result == "Normal_Weight" %}
                Normal
                {% elif rf_result == "Overweight_Level_I" %}
                Overweight I
                {% elif rf_result == "Overweight_Level_II" %}
                Overweight II
                {% elif rf_result == "Obesity_Type_I" %}
                Obesity I
                {% elif rf_result == "Obesity_Type_II" %}
                Obesity II
                {% elif rf_result == "Obesity_Type_III" %}
                Obesity III
                {% else %}
                {{ rf_result }}
                {% endif %}
                ({{ rf_proba }}%)
            </p>
            </div>

            {% if log_result != rf_result %}
            <p><strong>There is a difference between the predictions of the two models.</strong></p>
            {% endif %}
        {% endif %}
    </div>
  </body>
</html>
